body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.btn-primary {
    color: #fff;
}

.studentContainer {
    display: flex;
    -moz-flex-flow: row;
    -ms-flex-flow: row;
    -o-flex-flow: row;
    -webkit-flex-flow: row;
    flex-flow: row;
}

.panel-space {
    margin: 5px;
    margin-bottom: 10px;
}
